/* #ifdef MP-ALIPAY */
button {
  border: none;
}

input {
  background: transparent;
}

.a-image,
image {
  background-size: contain;
}

/* #endif */
.one-px:before {
  content: "";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #eee;
  transform: scale(0.5);
  transform-origin: 0 0;
  padding: 1px;
  box-sizing: border-box;
  pointer-events: none;
  z-index: 1;
}

.one-px-t:before {
  content: "";
  height: 1px;
  left: 0;
  top: 0;
  width: 100%;
  transform: scaleY(0.5);
  box-sizing: border-box;
  pointer-events: none;
  background: #eee;
  position: absolute;
  z-index: 1;
}

.one-px-b:after {
  content: "";
  height: 1px;
  left: 0;
  bottom: 0;
  width: 100%;
  transform: scaleY(0.5);
  box-sizing: border-box;
  pointer-events: none;
  background: #eee;
  position: absolute;
  z-index: 1;
}

.one-px-r:after {
  content: "";
  width: 1px;
  right: 0;
  top: 0;
  height: 100%;
  transform: scaleX(0.5);
  box-sizing: border-box;
  pointer-events: none;
  background: #eee;
  position: absolute;
  z-index: 1;
}

.bgc-opc {
  background-color: rgba(0, 0, 0, 0);
}

.btn:after,
.btn:before {
  border: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.ab-fill {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.ab-fill-scroll {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: auto;
}